{% extends 'base/base.html' %}
{% load static %}
{% block tituloPagina %}
    <title>REGISTRO DE USUARIO | FERME</title>
{% endblock tituloPagina %}
{% block contenido %}
    <div class="container-fluid">
        <div class="py-4">
            <h1 class="titulo">Registro de Usuario</h1>
            <form method="POST" class="post-form" action="users_insert" id="form-registro">
                {% csrf_token %}
                <input type="hidden" name="status" value="Activo">
                <div class="tabla-registro">
                    <table class="table table-bordered">
                        <tr>
                            <td>
                                <span class="text-danger" data-toggle="tooltip" data-placement="top" title="Campo Obligatorio">(*)</span>&nbsp; Nombre
                            </td>
                            <td>
                                <input type="text" name="name"  class="form-control validarCampo" data-nom="Nombre">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-danger" data-toggle="tooltip" data-placement="top" title="Campo Obligatorio">(*)</span>&nbsp; Apellido
                            </td>
                            <td>
                                <input type="text" name="last_name"  class="form-control validarCampo" data-nom="Apellido">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-danger" data-toggle="tooltip" data-placement="top" title="Campo Obligatorio">(*)</span>&nbsp; Rut
                            </td>
                            <td>
                                <input type="text" name="rut"  class="form-control validarCampo input_rut" data-nom="Rut">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-danger" data-toggle="tooltip" data-placement="top" title="Campo Obligatorio">(*)</span>&nbsp; Usuario
                            </td>
                            <td>
                                <input type="email" name="usuario"  class="form-control validarCampo" data-nom="Usuario">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-danger" data-toggle="tooltip" data-placement="top" title="Campo Obligatorio">(*)</span>&nbsp; Contraseña
                            </td>
                            <td>
                                <input type="password" name="password"  class="form-control validarCampo" data-nom="Contraseña">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-danger" data-toggle="tooltip" data-placement="top" title="Campo Obligatorio">(*)</span>&nbsp; Repetir Contraseña
                            </td>
                            <td>
                                <input type="password" name="passwordRepeat"  class="form-control validarCampo" data-nom="Repetir Contraseña">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <span class="text-danger" data-toggle="tooltip" data-placement="top" title="Campo Obligatorio">(*)</span>&nbsp; Tipo Usuario
                            </td>
                            <td>
                                <select name="user_type" class="form-control validarCampo" data-nom="Tipo Usuario">
                                    <option value="">Seleccione...</option>
                                    <option value="2">Vendedor</option>
                                    <option value="1">Administrador</option>
                                    <option value="3">Cliente</option>
                                    <option value="4">Proveedor</option>
                                    <option value="5">Empleado</option>
                                    <option value="6">Cliente Empresa</option>
                                </select>
                            </td>
                        </tr>
                        <tr class="proveedor d-none">
                            <td colspan="2" class="text-center">PROVEEDOR</td>
                        </tr>
                        <tr class="proveedor d-none">
                            <td>
                                <span class="text-danger" data-toggle="tooltip" data-placement="top" title="Campo Obligatorio">(*)</span>&nbsp; Razón Social
                            </td>
                            <td>
                                <input type="text" name="razon_social"  class="form-control" data-nom="Razón Social">
                            </td>
                        </tr>
                        <tr class="proveedor d-none">
                            <td>
                                <span class="text-danger" data-toggle="tooltip" data-placement="top" title="Campo Obligatorio">(*)</span>&nbsp; Rubro
                            </td>
                            <td>
                                <input type="text" name="rubro"  class="form-control" data-nom="Rubro">
                            </td>
                        </tr>
                        <tr class="proveedor d-none">
                            <td>
                                <span class="text-danger" data-toggle="tooltip" data-placement="top" title="Campo Obligatorio">(*)</span>&nbsp; Teléfono
                            </td>
                            <td>
                                <input type="text" name="telefono" class="form-control" data-nom="Teléfono">
                            </td>
                        </tr>
                        <tr class="proveedor d-none">
                            <td>
                                Identificador
                            </td>
                            <td>
                                <input type="text" name="identificador" maxlength="3" class="form-control" data-nom="Identificador">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <a class="btn btn-volver" href="{% url 'users_list' %}"> <i class="icon-reply"></i> Volver</a>                                
                                <button type="button" class="btn btn-ferme btn-enviar b2">Guardar</button>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="d-none alert alert-danger text-center" role="alert" id="res"></div>
            </form>
        </div>
    </div>


    <div class="modal fade" id="modalConfirmar" tabindex="-1" role="dialog">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body text-center">
                ¿Está seguro que desea agregar con estos datos?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-volver" data-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-success btn-confirmar">Si, Agregar</button>
          </div>
        </div>
      </div>
    </div>
{% endblock contenido %}
{% block js %}
    <script src="{% static 'js/jquery.rut.chileno.js' %}"></script>
    <script>
        $(document).ready(function(){
            $('[data-bg]').each(function(){
                $(this).css({
                    'background-image': 'url('+$(this).attr("data-bg")+')'
                });
            });
            $('[data-url]').click(function(){
                window.location = $(this).attr('data-url');
            });
            $('#aside [data-menu="users_list"]').addClass('active');
        });

        $('[name="user_type"]').change(function(){
            if(parseInt($(this).val()) == 4){
                $('tr.proveedor').removeClass('d-none');
                $('tr.proveedor .form-control').addClass('validarCampo');
            }else{
                $('tr.proveedor').addClass('d-none');
                $('tr.proveedor .form-control').removeClass('validarCampo');
            }
        });

        $('.btn-enviar').click(function(){
            var expr = /^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/;
            var expr2 = /^\d*$/;
            var flag = false;
            $('#res').addClass('d-none');

            $('#form-registro .validarCampo').each(function(){
                if($.trim($(this).val()) == ''){
                    $(this).addClass('is-invalid').focus();
                    $('#res').html('Ingrese '+$(this).attr('data-nom'));
                    $('#res').removeClass('d-none');
                    flag = true;
                    return false;
                }else{
                    $(this).removeClass('is-invalid').addClass('is-valid');
                }
                if($(this).attr('type') == 'email'){
                    var correo = $(this).val();
                    if(!expr.test(correo)){
                        $(this).addClass('is-invalid').focus();
                        $('#res').html('Ingrese correo válido');
                        $('#res').removeClass('d-none');
                        flag = true;
                        return false;
                    }else{
                        $(this).removeClass('is-invalid').addClass('is-valid');
                    }
                }
                if($(this).hasClass('numero') == true){
                    if(!expr2.test($(this).val())){
                        $(this).addClass('is-invalid').focus();
                        $('#res').html('Ingrese número válido');
                        $('#res').removeClass('d-none');
                        flag = true;
                        return false;
                    }else{
                        $(this).removeClass('is-invalid').addClass('is-valid');
                    }
                }
                if($(this).attr('name') == 'rut'){
                    var rut = $(this).val();
                    var rutValidado = checkRut(rut);

                    if(!rutValidado){
                        $(this).addClass('is-invalid').focus();
                        $('#res').html('Ingrese rut válido');
                        $('#res').removeClass('d-none');
                        flag = true;
                        return false;
                    }else{
                        $(this).removeClass('is-invalid').addClass('is-valid');
                    }
                }
                if($(this).attr('name') == 'passwordRepeat'){
                    if($('[name="password"]').val() != $('[name="passwordRepeat"]').val()){
                        $(this).addClass('is-invalid').focus();
                        $('#res').html('Las contraseñas no coinciden');
                        $('#res').removeClass('d-none');
                        flag = true;
                        return false;
                    }else{
                        $(this).removeClass('is-invalid').addClass('is-valid');
                    }
                }
                if($(this).attr('name') == 'user_type'){
                    if(parseInt($(this).val()) != 4){
                        $('tr.proveedor .form-control').val('');
                    }
                }
            });
            if(flag == false){
                $('#modalConfirmar').modal('show');
            }
        });

        $('.btn-confirmar').click(function(){
            $(this).text('Agregando...').prop('disabled',true);
            $('#form-registro').submit();
            $('#form-registro .btn-enviar').prop('disabled',true).html('Enviando...');
        });
    </script>
{% endblock js %}