{% extends 'base/base.html' %}
{% load static %}
{% block tituloPagina %}
    <title>USUARIOS | FERME</title>
{% endblock tituloPagina %}
{% block contenido %}
<div class="container-fluid">
    <div class="py-4">
        <div class="row">
            <div class="col-sm-9">
                <h1 class="titulo">Usuarios  <a target="_blank" href="{% static 'manuales/usuarios.pdf' %}" class="catalogo"><i class="icon-question-circle"></i></a></h1>
            </div> 
            <div class="text-right col-sm-3">
                <a class="btn btn-ferme b2" href="{% url 'users_create' %}">
                    <i class="icon-user-plus"></i> 
                    Crear Usuario
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-6 mb-3">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Nombre</span>
                    </div>
                    <input type="text" class="form-control btn-filtro" placeholder="Filtrar por nombre...">
                </div>
            </div>
            <div class="col-6 mb-3">
                <button class="btn btn-ferme b2 btn-activos">Mostrar sólo activos</button>
            </div>
        </div>
        <div class="usuarios">
            <div class="tabla-general table-responsive">
                <table class="table table-hover table-bordered" id="tabla-usuarios">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">Usuario</th>
                            <th scope="col">Tipo</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Rut</th>
                            <th scope="col">Estado</th>
                            <th width="120px" scope="col">Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in user %}
                        {% if item.TYPE_NAME != 'admin'  %}
                        <tr class="fila" data-estado="{{ item.ESTADO }}" data-tipo="{{ item.TYPE_NAME }}">
                            <td class="text-left text-uppercase">{{ item.USUARIO }}</td>
                            <td class="text-center text-uppercase">{{ item.TYPE_NAME }}</td>
                            <td class="text-uppercase">{{ item.NOMBRE }} {{ item.APELLIDO }}</td>
                            <td class="text-uppercase">{{ item.RUT }}</td>
                            <td class="text-uppercase">
                                {% if item.ESTADO == 'Activo'  %}
                                    <span class="text-success">{{ item.ESTADO }}</span>
                                {% else %}
                                    <span class="text-danger">{{ item.ESTADO }}</span>
                                {% endif %}
                            </td>
                            <td class="acciones">
                                <a class="btn btn-block btn-warning" href="users_get?id={{item.USER_ID}}&type={{item.TYPE_NAME}}">
                                    <i class="icon-pencil"></i> Editar
                                </a>
                                {% if item.ESTADO == 'Activo'  %}
                                    <button class="btn btn-block btn-info btn-estado" data-nom="{{ item.NOMBRE }} {{ item.APELLIDO }}" data-id="{{item.USER_ID}}" data-status="{{item.ESTADO}}">
                                        Desactivar
                                    </button>
                                {% else %}
                                    <button class="btn btn-block btn-success btn-estado" data-nom="{{ item.NOMBRE }} {{ item.APELLIDO }}" data-id="{{item.USER_ID}}" data-status="{{item.ESTADO}}">
                                        Activar
                                    </button>
                                {% endif %}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmar" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
            ¿Está seguro que desea cambiar el estado a<br>
            "<strong></strong>"?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-volver" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger btn-confirmar">Si, Modificar</button>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
{% block js %}
<script>
    /* VERIFICO SI EXISTE USUARIO LOGEADO SI NO LO MANDO AL LOGIN */
    if(sessionStorage.getItem('user_id') == null){
        window.location = "{% url 'home' %}";
    }else{
        if (sessionStorage.getItem('user_tipo') != 1){
            window.location = "{% url 'home' %}";
        }
    }


    $('.btn-estado').click(function(){
        $('#modalConfirmar').modal('show');
        $('#modalConfirmar .modal-body strong').text($(this).attr('data-nom').toUpperCase());
        $('#modalConfirmar .modal-footer .btn-confirmar').attr('data-id',$(this).attr('data-id'));
        $('#modalConfirmar .modal-footer .btn-confirmar').attr('data-status',$(this).attr('data-status'));
    });

    $('.btn-confirmar').click(function(){
        $(this).text('Modificando...').prop('disabled',true);
        window.location = 'update_user_status?id='+$(this).attr('data-id')+'&status='+$(this).attr('data-status');
    });

    $('.btn-filtro').keyup(function(){
        var palabra = $(this).val().toUpperCase();
        if($.trim(palabra) != ''){
            $('#tabla-usuarios .fila').addClass('d-none');
            $('#tabla-usuarios .fila td:nth-child(4)').each(function(){
                var texto = $(this).text().toUpperCase();

                if(texto.search(palabra) != -1){
                    $(this).parent().removeClass('d-none');
                }
            });
        }else{
            $('#tabla-usuarios .fila').removeClass('d-none');
        }
    });


    

    $(document).ready(function(){
        $('[data-bg]').each(function(){
            $(this).css({
                'background-image': 'url('+$(this).attr("data-bg")+')'
            });
        });
        $('[data-url]').click(function(){
            window.location = $(this).attr('data-url');
        });
        $('#aside [data-menu="users_list"]').addClass('active');



        $('.btn-activos').click(function(){
            if($(this).hasClass('active')){
                $(this).removeClass('active');
                $(this).html('Mostrar sólo usuarios activos');
                $('#tabla-usuarios .fila').removeClass('d-none');
            }else{
                $(this).addClass('active');
                $(this).html('Mostrar todos los usuarios');
                $('#tabla-usuarios .fila[data-estado="Inactivo"]').each(function(){
                    $(this).addClass('d-none');
                });
            }
        });
    });
</script>
{% endblock js %}