{% extends 'base/base.html' %}
{% load static %}
{% block tituloPagina %}
    <title>PRODUCTOS VENTA | FERME</title>
{% endblock tituloPagina %}
{% block contenido %}
    <div class="container-fluid">
        <div class="py-4">
            <h1 class="titulo">Productos Venta</h1>
            <div class="productos">
                {% for item in productos %}
                    <div class="producto">
                        <div class="foto" data-bg="{% static 'media/producto.jpg' %}" data-url="productos_detail?id={{item.ID_PROD}}&tipo={{item.CODIGO_TIPO}}"></div>
                        <div class="texto">
                            <h2>
                                <a href="productos_detail?id={{item.ID_PROD}}&tipo={{item.CODIGO_TIPO}}">
                                    {{item.NOMBRE}}
                                </a>
                            </h2>
                            <p class="precio">$ {{item.VALOR}}</p>
                            <p class="stock">Stock: {{item.STOCK}}</p>
                            <a href="productos_detail?id={{item.ID_PROD}}&tipo={{item.CODIGO_TIPO}}" class="btn btn-block btn-detalle">Ver Detalle</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock contenido %}
{% block js %}
    <script>
        $(document).ready(function(){
            $('[data-bg]').each(function(){
                $(this).css({
                    'background-image': 'url('+$(this).attr("data-bg")+')'
                });
            });
            $('[data-url]').click(function(){
                window.location = $(this).attr('data-url');
            });
            $('#aside [data-menu="productos_sell_list"]').addClass('active');
        });
    </script>
{% endblock js %}