{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% block tituloPagina %}
  <title>{{product.NOMBRE}} | FERME</title>
{% endblock tituloPagina %}
{% block contenido %}
  <div class="container-fluid">
    <div class="py-4">
      <div class="container">
        <h2 class="titulo">Detalle Producto</h2>
        <div class="producto-detalle row pt-4">
          <div class="col-12 col-md-5 mb-3 mb-md-0">
            <div class="foto" data-bg="{% static 'media/producto.jpg' %}"></div>
          </div>
          <div class="col-12 col-md-7">
            <div class="texto">
              <h1>{{product.NOMBRE}}</h1>

              <p class="stock">
                Stock: 
                {% if product.STOCK > 0 %}
                    {{ product.STOCK }}
                {% else %}
                    <span class="text-danger">Sin stock</span>
                {% endif %}
              </p>

              <p class="precio">$ {{ product.VALOR|intcomma }}</p>
              
              {% if product.STOCK > 0 %}
                <form method="POST" id="form-sell" class="post-form" action="shopping_cart">
                  {% csrf_token %}
                  <input type="hidden" name="precio" class="from-control" value="{{product.VALOR}}">
                  <input type="hidden" name="id" class="from-control" value="{{product.ID_PROD}}">
                  <div class="form-group cantidad">
                    <label>Cantidad:</label>
                    <div class="input-group mb-3 ">
                      <div class="input-group-prepend btn-control" data-op="0">
                        <span class="input-group-text">-</span>
                      </div>
                      <input type="text" name="cantidad" class="form-control text-center" readonly="readonly" value="1">
                      <div class="input-group-append btn-control" data-op="1">
                        <span class="input-group-text">+</span>
                      </div>
                    </div>
                  </div>

                  <div class="py-4">
                    <a class="btn btn-volver" href="{% url 'productos_sell_list' %}"><i class="icon-reply"></i> Volver a Productos</a>
                    <button type="button" class="btn btn-ferme btn-agregar b2">Agregar al Carro</button>
                  </div>
                </form>
              {% else %}
                <div class="py-4">
                  <a class="btn btn-volver" href="{% url 'productos_sell_list' %}"><i class="icon-reply"></i> Volver a Productos</a>
                </div>
              {% endif %}
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock contenido %}
{% block js %}
  <script>
    $(document).ready(function(){
      $('[data-bg]').each(function(){
        $(this).css({
          'background-image': 'url('+$(this).attr("data-bg")+')'
        });
      });
      $('#aside [data-menu="productos_sell_list"]').addClass('active');
    });

    var stock = parseInt('{{product.STOCK}}');
    $('.cantidad .btn-control').click(function(){
      var act = parseInt($('.cantidad [name="cantidad"]').attr('value'));
      var op = $(this).attr('data-op');
      if(op == 1){
          if(act < stock){
            $('.cantidad [name="cantidad"]').attr('value', act + 1);
          }
      }else{
          if(act > 1){
            $('.cantidad [name="cantidad"]').attr('value', act - 1); 
          }
      }
    });

    $('#form-sell .btn-agregar').click(function(){
        $('#form-sell').submit();
        $('#form-sell .btn-agregar').prop('disabled',true).html('Agregando al carro...');
    });
  </script>
{% endblock js %}