{% load static %}
<aside id="aside">
    <div class="menu-lateral">
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'media/logo.png'%}" alt="">
            </a>
        </div>
        <a class="btn btn-block btn-ferme" href="{% url 'home' %}" data-menu="home" user-tipo="[1][3][5][6]">
            <i class="icon-office"></i>
            <span>Home</span>
        </a>
        <a class="btn btn-block btn-ferme d-none" href="{% url 'users_list' %}" data-menu="users_list" user-tipo="[1]">
            <i class="icon-users"></i>
            <span>Usuarios</span>
        </a>
        <a class="btn btn-block btn-ferme d-none" href="{% url 'proveedores_list' %}" data-menu="proveedores_list" user-tipo="[1][5]">
            <i class="icon-truck"></i>
            <span>Proveedores</span>
        </a>
        <a class="btn btn-block btn-ferme d-none" href="{% url 'familia_list' %}" data-menu="familia_list" user-tipo="[1][4]">
            <i class="icon-tag"></i>
            <span>Familias / Tipos</span>
        </a>
        <a class="btn btn-block btn-ferme d-none" href="{% url 'productos_list' %}" data-menu="productos_list" user-tipo="[1][2][4][5]">
            <i class="icon-wrench"></i>
            <span>Productos Proveedores</span>
        </a>
        <a class="btn btn-block btn-ferme d-none" href="{% url 'orders_list' %}" data-menu="orders_list" user-tipo="[1][4][5]">
            <i class="icon-clipboard"></i>
            <span>Orden de Compra</span>
        </a>
        <a class="btn btn-block btn-ferme d-none" href="{% url 'boletas_list' %}" data-menu="boletas_list" user-tipo="[1][2][3][5][6]">
            <i class="icon-tag"></i>
            <span>Boletas</span>
        </a>
        <a class="btn btn-block btn-ferme d-none" href="{% url 'facturas_list' %}" data-menu="boletas_list" user-tipo="[1][2][3][5][6]">
            <i class="icon-tag"></i>
            <span>Facturas</span>
        </a>
        <a class="btn btn-block btn-ferme d-none" href="{% url 'productos_ferreteria_list' %}" data-menu="productos_ferreteria_list" user-tipo="[1][2][5]">
            <i class="icon-list2"></i>
            <span>Productos Ferreteria</span>
        </a>
        <a class="btn btn-block btn-ferme d-none" href="{% url 'productos_sell_list' %}" data-menu="productos_sell_list" user-tipo="[1][3][5][6]">
            <i class="icon-file-text"></i>
            <span>Catálogo</span>
        </a>
        <a class="btn btn-block btn-ferme d-none" href="{% url 'reportes' %}" data-menu="reportes" user-tipo="[1]">
            <i class="icon-clipboard"></i>
            <span>Reportes</span>
        </a>
    </div>
</aside>