{% load static %}
<aside id="aside">
    <div class="menu-lateral">
        <div class="logo">
            <a href="{% url 'home' %}">
                <img src="{% static 'media/logo.jpg'%}" alt="">
            </a>
        </div>
        <a class="btn btn-block btn-ferme" href="{% url 'home' %}" data-menu="home">
            <i class="icon-office"></i>
            <span>Home</span>
        </a>
        <a class="btn btn-block btn-ferme" href="{% url 'users_list' %}" data-menu="users_list">
            <i class="icon-users"></i>
            <span>Usuarios</span>
        </a>
        <a class="btn btn-block btn-ferme" href="{% url 'proveedores_list' %}" data-menu="proveedores_list">
            <i class="icon-"></i>
            <span>Proveedores</span>
        </a>
        <a class="btn btn-block btn-ferme" href="{% url 'familia_list' %}" data-menu="proveedores_list">
            <i class="icon-"></i>
            <span>Familias / Tipos</span>
        </a>
        <a class="btn btn-block btn-ferme" href="{% url 'productos_list' %}" data-menu="productos_list">
            <i class="icon-"></i>
            <span>Productos Proveedores</span>
        </a>
        <a class="btn btn-block btn-ferme" href="{% url 'orders_list' %}" data-menu="productos_list">
            <i class="icon-"></i>
            <span>Órden de Compra</span>
        </a>
        <a class="btn btn-block btn-ferme" href="{% url 'productos_ferreteria_list' %}" data-menu="productos_ferreteria_list">
            <i class="icon-"></i>
            <span>Productos Ferreteria</span>
        </a>
        <a class="btn btn-block btn-ferme" href="{% url 'productos_sell_list' %}" data-menu="productos_sell_list">
            <i class="icon-"></i>
            <span>Productos Venta</span>
        </a>
    </div>
</aside>