{% load static %}
<aside id="aside" class="aside aside-left" data-fuse-bar="aside" data-fuse-bar-media-step="md" data-fuse-bar-position="left">
    <div class="aside-content bg-primary-700 text-auto">
        <div class="aside-toolbar">
            <div class="logo">
                <span class="logo-icon">F</span>
                <span class="logo-text">FERME</span>
            </div>
            <button id="toggle-fold-aside-button" type="button" class="btn btn-icon d-none d-lg-block" data-fuse-aside-toggle-fold>
                <i class="icon icon-backburger"></i>
            </button>
        </div>
        <ul class="nav flex-column custom-scrollbar" id="sidenav" data-children=".nav-item">
            <li class="subheader">
                <span>Menú</span>
            </li>
            <li class="nav-item" role="tab" id="heading-dashboards">
                <a class="nav-link ripple" href="{% url 'home' %}" data-menu="home">
                    <i class="icon icon-home"></i>
                    <span>Home</span>
                </a>
            </li>
            <li class="nav-item" role="tab" id="heading-dashboards">
                <a class="nav-link ripple" href="{% url 'productos_list' %}" data-menu="productos_list">
                    <i class="icon icon-home"></i>
                    <span>Productos</span>
                </a>
            </li>
        </ul>
    </div>
</aside>