{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&display=swap" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'css/reset.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap4.3.1.min.css' %}">
    <link type="text/css" rel="stylesheet" href="{% static 'css/main.css' %}">
	{% block tituloPagina %}
		<title></title>
	{% endblock tituloPagina %}
</head>
<body>
	{% block body %}
    {% block aside %}{% include "base/aside.html" %}{% endblock aside %}
    <div class="contenedor">
        {% block header %}{% include "base/header.html" %}{% endblock header %}
        {% block contenido %}{% endblock contenido %}
    </div>
    <script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/popper4.3.1.min.js' %}" ></script>
    <script type="text/javascript" src="{% static 'js/bootstrap4.3.1.min.js' %}"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            if(sessionStorage.getItem('user_id') != null){

                /* activo menú según tipo de usuario */
                var tipo = '['+sessionStorage.getItem('user_tipo')+']';
                
                $('#aside .menu-lateral .btn').each(function(){
                    if ($(this).attr('data-tipo').indexOf(tipo) != -1){
                        $(this).removeClass('d-none');
                    }
                });

                $('nav.user-logeado').removeClass('d-none');
                $('nav.user-logeado .btn-log span').text(sessionStorage.getItem('user_nombre')+ ' '+sessionStorage.getItem('user_apellido'));
            }else{
                $('nav.user-no').removeClass('d-none');
            }
        });

        $('.btn-logout').click(function(){
            sessionStorage.clear();
            window.location = '{% url 'home' %}';
        });
    </script>
    {% block js %}{# Este bloque se redefine en las vistas #}{% endblock js %}
	{% endblock body %}
</body>
</html>