{% extends 'base/base.html' %}
{% load static %}
{% block tituloPagina %}
    <title>FAMILIAS / TIPO | FERME</title>
{% endblock tituloPagina %}
{% block contenido %}
<div class="container-fluid">
    <div class="py-4">
        <h1 class="titulo">Familias / Tipos <a target="_blank" href="{% static 'manuales/familias-tipo.pdf' %}" class="catalogo"><i class="icon-question-circle"></i></a></h1>

        <div class="col-4 ml-auto mb-3">
            <form method="POST" id="form-familia" class="post-form" action="familia_create">
                {% csrf_token %}
                <div class="input-group mb-3">
                    <select name="proveedor_id" class="form-control validarCampo" data-nom="Proveedor">
                        <option value="">Seleccione Proveedor</option>
                        {% for item in proveedores %}
                        <option value="{{ item.PROVEEDOR_ID }}">{{ item.RAZON_SOCIAL }}</option>
                        {% endfor %}
                    </select>
                    <div class="input-group-append">
                        <button type="button" class="input-group-text btn-ferme b2 btn-enviar">Crear Familia</button>
                    </div>
                </div>
                <div class="d-none alert alert-danger text-center" role="alert" id="res"></div>
            </form>
        </div>

        <div class="row">
            <div class="col-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Familias</span>
                    </div>
                    <input type="text" class="form-control btn-filtro" data-op="familia" placeholder="Filtrar por familia...">
                </div>
                <div class="tabla-general table-responsive">
                    <table class="table table-hover table-bordered" id="tabla-familia">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Familia</th>
                                <th scope="col">Identificador</th>
                                <th scope="col">Proveedor</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <!-- RECORDATORIO -->
                            <!-- ORDENAR FAMILIAS ALFABETICAMENTE -->
                            {% for item in familia %}
                            <tr class="fila" data-id="{{item.ID_PROV}}" data-familia="{{item.ID_FAMILIA}}">
                                <td class="text-uppercase text-left">{{ item.DETALLE }}</td>
                                <td class="text-uppercase">{{ item.IDEN_FAMILIA }}</td>
                                <td class="text-uppercase">{{ item.IDEN_RZ }}</td>
                                <td>
                                    <a class="btn btn-block btn-small btn-ferme b2" href="tipo_create?id={{item.ID_FAMILIA}}&family={{item.IDEN_FAMILIA}}">
                                        Agregar Tipo
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-6">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Tipos</span>
                    </div>
                    <input type="text" class="form-control btn-filtro" data-op="tipos" placeholder="Filtrar por tipo...">
                </div>
                <div class="tabla-general table-responsive">
                    <table class="table table-hover table-bordered" id="tabla-tipo">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Código</th>
                                <th scope="col">Tipo</th>
                                <th scope="col">Familia</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in tipo %}
                            <tr class="fila" data-proveedor="{{ item.ID_PROV }}">
                                <td class="text-uppercase">{{ item.CODIGO_TIPO }}</td>
                                <td class="text-uppercase">{{ item.DESCRIPCION }}</td>
                                <td class="text-uppercase">{{ item.IDENTIFICADOR }}</td>
                                <td>
                                    <a class="btn btn-block btn-small btn-ferme b2" href="productos_create?tipo={{item.CODIGO_TIPO}}&id_tipo={{item.ID_TIPO}}&familia={{item.IDENTIFICADOR}}&id_prov={{item.ID_PROV}}">
                                        Crear Producto
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block js %}
<script>
    $(document).ready(function(){
        $('#aside [data-menu="familia_list"]').addClass('active');
        $('.btn-enviar').click(function(){
            var flag = false;
            $('#res').addClass('d-none');

            $('#form-familia .validarCampo').each(function(){
                if($.trim($(this).val()) == ''){
                    $(this).addClass('is-invalid').focus();
                    $('#res').html('Seleccione '+$(this).attr('data-nom'));
                    $('#res').removeClass('d-none');
                    flag = true;
                    return false;
                }else{
                    $(this).removeClass('is-invalid').addClass('is-valid');
                }
            });
            if(flag == false){
                $('#form-familia').submit();
                $('#form-familia .btn-enviar').prop('disabled',true).html('Enviando...');
            }
        });

        var user_id = parseInt(sessionStorage.getItem('user_id'));
        var user_tipo = parseInt(sessionStorage.getItem('user_tipo'));

        if(user_tipo != 1 && user_tipo != 5){
            $('[name="proveedor_id"] option').each(function(){
                if(parseInt($(this).attr('value')) != user_id){
                    $(this).remove();
                }
            });

            $('#tabla-familia .fila').each(function(){
                if(parseInt($(this).attr('data-id')) != user_id){
                    $(this).remove();
                }
            });

            $('#tabla-tipo .fila').each(function(){
                if(parseInt($(this).attr('data-proveedor')) != user_id){
                    $(this).remove();
                }
            });
        }
    });

    $('.btn-filtro').keyup(function(){
        var palabra = $(this).val().toUpperCase();
        var tipo = $(this).attr('data-op');

        if($.trim(palabra) != ''){
            if(tipo == "familia"){
                $('#tabla-familia .fila').addClass('d-none');
                $('#tabla-familia .fila td:first-child').each(function(){
                    var texto = $(this).text().toUpperCase();

                    if(texto.search(palabra) != -1){
                        $(this).parent().removeClass('d-none');
                    }
                });
            }else{
                $('#tabla-tipo .fila').addClass('d-none');
                $('#tabla-tipo .fila td:nth-child(2)').each(function(){
                    var texto = $(this).text().toUpperCase();

                    if(texto.search(palabra) != -1){
                        $(this).parent().removeClass('d-none');
                    }
                });
            }
        }else{
            if(tipo == "familia"){
                $('#tabla-familia .fila').removeClass('d-none');
            }else{
                $('#tabla-tipo .fila').removeClass('d-none');
            }
        }
    });
</script>
{% endblock js %}

