{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% block tituloPagina %}
    <title>PRODUCTOS PROOVEDORES | FERME</title>
{% endblock tituloPagina %}
{% block contenido %}
<div class="container-fluid">
    <div class="py-4">
        <h1 class="titulo">Productos Proveedores</h1>

        <div class="col-6 px-0">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Nombre</span>
                </div>
                <input type="text" class="form-control btn-filtro" placeholder="Filtrar por nombre...">
            </div>
        </div>
        <div class="tabla-general table-responsive">
            <table class="table table-hover table-bordered" id="tabla-productos">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Proveedor</th>
                        <th scope="col">Precio</th>
                        <th width="120px" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in productos %}
                    <tr class="fila">
                        <td class="text-uppercase">{{ item.ID_PROD }}</td>
                        <td class="text-uppercase">{{ item.PRODUCTO_ID }}
                        <td class="text-uppercase">{{ item.NOMBRE }}</td></td>
                        <td class="text-uppercase">{{ item.IDEN_RZ }}</td>
                        <td class="text-right">$ {{ item.VALOR|intcomma }}</td>
                        <td class="acciones">
                            <a class="btn btn-block btn-warning" href="productos_get?id={{item.ID_PROD}}">
                                <i class="icon-pencil s-4"></i> Editar
                            </a>
                            <button type="button" class="btn btn-block btn-danger btn-eliminar" data-nom="{{ item.NOMBRE }}" data-id="{{item.ID_PROD}}">
                                <i class="icon-bin s-4"></i> Eliminar
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modalConfirmar" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Confirmación</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-center">
            ¿Está seguro que desea eliminar el producto <br>
            "<strong></strong>"?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-volver" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-danger btn-confirmar">Si, Eliminar</button>
      </div>
    </div>
  </div>
</div>
{% endblock contenido %}
{% block js %}
<script>
    $(document).ready(function(){
        $('#aside [data-menu="productos_list"]').addClass('active');
    });

    $('.btn-eliminar').click(function(){
        $('#modalConfirmar').modal('show');
        $('#modalConfirmar .modal-body strong').text($(this).attr('data-nom').toUpperCase());
        $('#modalConfirmar .modal-footer .btn-confirmar').attr('data-id',$(this).attr('data-id'));
    });

    $('.btn-confirmar').click(function(){
        $(this).text('Eliminando...').prop('disabled',true);
        window.location = 'productos_delete?id='+$(this).attr('data-id');
    });

    $('.btn-filtro').keyup(function(){
        var palabra = $(this).val().toUpperCase();

        if($.trim(palabra) != ''){
            $('#tabla-productos .fila').addClass('d-none');
            $('#tabla-productos .fila td:nth-child(3)').each(function(){
                var texto = $(this).text().toUpperCase();

                if(texto.search(palabra) != -1){
                    $(this).parent().removeClass('d-none');
                }
            });
        }else{
            $('#tabla-productos .fila').removeClass('d-none');
        }
    });
</script>
{% endblock js %}