{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% block tituloPagina %}
    <title>EDITAR PRODUCTO | FERME</title>
{% endblock tituloPagina %}
{% block contenido %}
<div class="container-fluid">
    <div class="py-4">
        <h1 class="titulo">Modificar Producto</h1>
        
        <div class="col-6 mx-auto py-3">
            <form method="POST" id="form-producto" action="productos_update">
                {% csrf_token %}
                <input type="hidden" name="producto_id" class="from-control" value="{{product.ID_PROD}}">
                <div class="input-group mb-3 row mx-0">
                    <div class="input-group-prepend col-4 px-0">
                        <span class="input-group-text w-100">Nombre</span>
                    </div>
                    <input type="text" name="nombre" class="form-control col-8 validarCampo" value="{{product.NOMBRE}}" data-nom="Nombre">
                </div>

                <div class="input-group mb-3 row mx-0">
                    <div class="input-group-prepend col-4 px-0">
                        <span class="input-group-text w-100">Valor</span>
                    </div>
                    <input type="text" name="valor" value="{{product.VALOR}}" class="form-control col-8 validarCampo text-uppercase" data-nom="Valor">
                </div>
                <div class="d-none alert alert-danger text-center" role="alert" id="res"></div>
                <div class="text-center">
                    <a class="btn btn-volver" href="{% url 'productos_list' %}"><i class="icon-reply"></i> Volver</a>
                    <button type="button" class="btn btn-ferme b2 btn-enviar">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block js %}
<script>
    $(document).ready(function(){
        $('.btn-enviar').click(function(){
            var flag = false;
            $('#res').addClass('d-none');

            $('#form-producto .validarCampo').each(function(){
                if($.trim($(this).val()) == ''){
                    $(this).addClass('is-invalid').focus();
                    $('#res').html('Seleccione '+$(this).attr('data-nom'));
                    $('#res').removeClass('d-none');
                    flag = true;
                    return false;
                }else{
                    $(this).removeClass('is-invalid').addClass('is-valid');
                }
            });
            if(flag == false){
                $('#form-producto').submit();
                $('#form-producto .btn-enviar').prop('disabled',true).html('Enviando...');
            }
        });

        $('.solo-texto').keypress(function(e){
            var key = e.keyCode;
            if (key >= 48 && key <= 57) {
                e.preventDefault();
            }
        });
    });
</script>
{% endblock js %}