{% extends 'base/base.html' %}
{% load static %}
{% block tituloPagina %}
    <title>CREAR TIPO | FERME</title>
{% endblock tituloPagina %}
{% block contenido %}

<div class="container-fluid">
    <div class="py-4">
        <h1 class="titulo">Crear Tipo</h1>

        <div class="col-6 mx-auto py-3">
            <form method="POST" id="form-tipo" action="tipo_insert">
                {% csrf_token %}
                <input type="hidden" name="id_familia" value="{{family_id}}">
                <div class="input-group mb-3 row mx-0">
                    <div class="input-group-prepend col-4 px-0">
                        <span class="input-group-text w-100">Familia</span>
                    </div>
                    <input type="text" name="familia" class="form-control col-8" value="{{family_name}}" readonly>
                </div>

                <div class="input-group mb-3 row mx-0">
                    <div class="input-group-prepend col-4 px-0">
                        <span class="input-group-text w-100">Detalle</span>
                    </div>
                    <input type="text" name="detalle" class="form-control col-8 validarCampo text-uppercase" data-nom="Detalle">
                </div>

                <div class="input-group mb-3 row mx-0">
                    <div class="input-group-prepend col-4 px-0">
                        <span class="input-group-text w-100">Identificador</span>
                    </div>
                    <input type="text" name="identificador" maxlength="3" class="form-control col-8 validarCampo text-uppercase solo-texto" data-nom="Identificador">
                </div>
                <div class="d-none alert alert-danger text-center" role="alert" id="res"></div>
                <div class="text-center">
                    <a class="btn btn-volver" href="{% url 'familia_list' %}"><i class="icon-reply"></i> Volver</a>
                    <button type="button" class="btn btn-ferme b2 btn-enviar">Guardar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block js %}
<script>
    $(document).ready(function(){
        $('#aside [data-menu="familia_list"]').addClass('active');
        $('.btn-enviar').click(function(){
            var flag = false;
            $('#res').addClass('d-none');

            $('#form-tipo .validarCampo').each(function(){
                if($.trim($(this).val()) == ''){
                    $(this).addClass('is-invalid').focus();
                    $('#res').html('Seleccione '+$(this).attr('data-nom'));
                    $('#res').removeClass('d-none');
                    flag = true;
                    return false;
                }else{
                    $(this).removeClass('is-invalid').addClass('is-valid');
                }

                if($(this).attr('name') == 'identificador'){
                    var texto = $.trim($(this).val()).replace(' ','');
                    if(texto.length != 3){
                        $(this).addClass('is-invalid').focus();
                        $('#res').html('El identificador debe ser de 3 letras');
                        $('#res').removeClass('d-none');
                        flag = true;
                        return false;
                    }else{
                        $(this).removeClass('is-invalid').addClass('is-valid');
                    }
                }
            });
            if(flag == false){
                $('#form-tipo').submit();
                $('#form-tipo .btn-enviar').prop('disabled',true).html('Enviando...');
            }
        });

        $('.solo-texto').keypress(function(e){
            var key = e.keyCode;
            if (key >= 48 && key <= 57) {
                e.preventDefault();
            }
        });
    });
</script>
{% endblock js %}