{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% block tituloPagina %}
    <title>REPORTES | FERME</title>
{% endblock tituloPagina %}
{% block contenido %}
<div class="container-fluid">
    <div class="py-4">
        <h1 class="titulo">Reportes</h1>

		{% if boletas %}
			<div class="tabla-general table-responsive">
	            <table class="table table-hover table-bordered" id="tabla-productos">
	                <thead class="thead-dark">
	                    <tr>
	                        <th scope="col">N° Boleta</th>
	                        <th scope="col">Nombre</th>
	                        <th scope="col">Tipo de Pago</th>
	                        <th scope="col">Medio de Pago</th>
	                        <th scope="col">Entrega</th>
	                        <th scope="col">Fecha</th>
	                        <th scope="col">Producto</th>
	                        <th scope="col">Cantidad</th>
	                        <th scope="col">Total</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    {% for item in boletas %}
	                    <tr class="fila">
	                        <td class="text-uppercase text-right">{{ item.ID_BOLETA }}</td>
	                        <td class="text-uppercase bg-gradient-danger">{{ item.NOMBRE }} {{ item.APELLIDO }}</td>
	                        <td class="text-uppercase bg-gradient-warning">{{ item.TIPO_PAGO }}</td>
	                        <td class="text-uppercase text-center">{{ item.MEDIO_PAGO }}</td>
	                        <td class="text-uppercase text-center">{{ item.ENTREGA }}</td>
	                        <td class="text-uppercase text-center">{{ item.FECHA }}</td>
	                        <td class="text-uppercase text-center">{{ item.PRODUCTO }}</td>
	                        <td class="text-uppercase text-center">{{ item.CANTIDAD }}</td>
	                        <td class="text-uppercase text-right" data-total="{{item.TOTAL}}">${{ item.TOTAL|intcomma }}</td>
	                    </tr>
	                    {% endfor %}
	                    <tr class="fila">
	                        <td class=""></td>
	                        <td class=""></td>
	                        <td class=""></td>
	                        <td class=""></td>
	                        <td class=""></td>
	                        <td class=""></td>
	                        <td class=""></td>
	                        <td class="text-right"><strong>TOTAL</strong></td>
	                        <td class="text-right" id="totaltotal"></td>
	                    </tr>
	                </tbody>
	            </table>
	        </div>
        {% else %}
            <div class="col-12">
            	<div class="alert text-center alert-info">
            		No se encontraron registros
            	</div>
            </div>
        {% endif %}
		<div class="text-center">
			<a href="{% url 'reportes' %}" class="btn btn-volver"><i class="icon-reply"></i> Volver</a>
			<button class="btn btn-info btn-excel"><i class="icon-file-excel"></i> Generar Excel</button>
			<button class="btn btn-info btn-pdf"><i class="icon-file-pdf"></i> Generar PDF</button>
		</div>
    </div>
</div>
{% endblock contenido %}
{% block js %}
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
<script>
	function fnExcelReport(){
	    var tab_text="<table border='2px'><tr bgcolor='#87AFC6'>";
	    var textRange; var j=0;
	    tab = document.getElementById('tabla-productos'); // id of table

	    for(j = 0 ; j < tab.rows.length ; j++) 
	    {     
	        tab_text=tab_text+tab.rows[j].innerHTML+"</tr>";
	        //tab_text=tab_text+"</tr>";
	    }

	    tab_text=tab_text+"</table>";
	    tab_text= tab_text.replace(/<A[^>]*>|<\/A>/g, "");//remove if u want links in your table
	    tab_text= tab_text.replace(/<img[^>]*>/gi,""); // remove if u want images in your table
	    tab_text= tab_text.replace(/<input[^>]*>|<\/input>/gi, ""); // reomves input params

	    var ua = window.navigator.userAgent;
	    var msie = ua.indexOf("MSIE "); 

	    if (msie > 0 || !!navigator.userAgent.match(/Trident.*rv\:11\./))      // If Internet Explorer
	    {
	        txtArea1.document.open("txt/html","replace");
	        txtArea1.document.write(tab_text);
	        txtArea1.document.close();
	        txtArea1.focus(); 
	        sa=txtArea1.document.execCommand("SaveAs",true,"Say Thanks to Sumit.xls");
	    }  
	    else                 //other browser not tested on IE 11
	        sa = window.open('data:application/vnd.ms-excel,' + encodeURIComponent(tab_text));  

	    return (sa);
	}

	function ExportPDF() {
        html2canvas(document.getElementById('tabla-productos'), {
            onrendered: function (canvas) {
                var data = canvas.toDataURL();
                var docDefinition = {
                    content: [{
                        image: data,
                        width: 500
                    }]
                };
                pdfMake.createPdf(docDefinition).download("reporte.pdf");
            }
        });
    }

    $(document).ready(function(){
		$('#aside [data-menu="reportes"]').addClass('active');

		$('.btn-excel').click(function(){
			fnExcelReport();
		});

		$('.btn-pdf').click(function(){
			ExportPDF();
		});

		var total = 0;
		$('[data-total]').each(function(){
			total = total +  parseInt($(this).attr('data-total'));
		});
		$('#totaltotal').text('$'+total);
    });
</script>
{% endblock js %}