{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% block tituloPagina %}
    <title>REPORTES | FERME</title>
{% endblock tituloPagina %}
{% block contenido %}
<div class="container-fluid">
    <div class="py-4">
        <h1 class="titulo">Reportes</h1>
		{% if boletas %}
			<div class="tabla-general table-responsive">
	            <table class="table table-hover table-bordered" id="tabla-productos">
	                <thead class="thead-dark">
	                    <tr>
	                        <th scope="col">N° Boleta</th>
	                        <th scope="col">Nombre</th>
	                        <th scope="col">Tipo de Pago</th>
	                        <th scope="col">Medio de Pago</th>
	                        <th scope="col">Entrega</th>
	                        <th scope="col">Fecha</th>
	                        <th scope="col">Producto</th>
	                        <th scope="col">Cantidad</th>
	                        <th scope="col">Total</th>
	                    </tr>
	                </thead>
	                <tbody>
	                    {% for item in boletas %}
	                    <tr class="fila">
	                        <td class="text-uppercase text-right">{{ item.ID_BOLETA }}</td>
	                        <td class="text-uppercase bg-gradient-danger">{{ item.NOMBRE }} {{ item.APELLIDO }}</td>
	                        <td class="text-uppercase bg-gradient-warning">{{ item.TIPO_PAGO }}</td>
	                        <td class="text-uppercase text-center">{{ item.MEDIO_PAGO }}</td>
	                        <td class="text-uppercase text-center">{{ item.ENTREGA }}</td>
	                        <td class="text-uppercase text-center">{{ item.FECHA }}</td>
	                        <td class="text-uppercase text-center">{{ item.PRODUCTO }}</td>
	                        <td class="text-uppercase text-center">{{ item.CANTIDAD }}</td>
	                        <td class="text-uppercase text-right">${{ item.TOTAL|intcomma }}</td>
	                    </tr>
	                    {% endfor %}
	                    <tr class="fila">
	                        <td class=""></td>
	                        <td class=""></td>
	                        <td class=""></td>
	                        <td class=""></td>
	                        <td class=""></td>
	                        <td class=""></td>
	                        <td class=""></td>
	                        <td class="text-right"><strong>TOTAL</strong></td>
	                        <td class="text-right">${{total.TOTAL|intcomma}}</td>
	                    </tr>
	                </tbody>
	            </table>
	        </div>
        {% else %}
            <div class="col-12">
            	<div class="alert text-center alert-info">
            		No se encontraron registros
            	</div>
            </div>
        {% endif %}
        <div class="text-center">
			<a href="{% url 'reportes' %}" class="btn btn-volver"><i class="icon-reply"></i> Volver</a>
		</div>
    </div>
</div>
{% endblock contenido %}
{% block js %}
<script>
    $(document).ready(function(){
		$('#aside [data-menu="reportes"]').addClass('active');
    });
</script>
{% endblock js %}