{% extends 'base/base.html' %}
{% load static %}
{% block tituloPagina %}
	<title>Proveedores | FERME</title>
{% endblock tituloPagina %}
{% block contenido %}
<div id="e-commerce-products" class="page-layout carded full-width">
    <div class="top-bg bg-primary"></div>
    <div class="page-content-wrapper">
        <div class="page-header light-fg row no-gutters align-items-center justify-content-between">
            <div class="col-12 col-sm">
                <div class="logo row no-gutters justify-content-center align-items-start justify-content-sm-start">
                    <div class="logo-icon mr-3 mt-1">
                        <i class="icon-cube-outline s-6"></i>
                    </div>
                    <div class="logo-text">
                        <div class="h4">Proveedores</div>
                    </div>
                </div>
            </div>
            <div class="col search-wrapper px-20">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-icon">
                            <i class="icon icon-magnify"></i>
                        </button>
                    </span>
                    <input id="products-search-input" type="text" class="form-control" placeholder="Buscador..." />
                </div>
            </div>
            <a class="btn btn-primary" href="{% url 'proveedores_create' %}" style="float: right;">Crear Proveedor</a>     
        </div>
        <div class="page-content-card">
            <table id="e-commerce-products-table" class="table dataTable">
                <thead>
                    <tr>
                        <th>
                            <div class="table-header">
                                <span class="column-title">ID</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Nombre</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Rut</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Mail</span>
                            </div>
                        </th>
                        <th>
                            <div class="table-header">
                                <span class="column-title">Telefono</span>
                            </div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in proveedores %}
                    <tr>
                        <td>{{ item.PROVEEDOR_ID }}</td>
                        <td>{{ item.NOMBRE }}</td>
                        <td>{{ item.RUT }}</td>
                        <td>{{ item.MAIL }}</td>
                        <td>{{ item.TELEFONO }}</td>
                    <td>
                        <a class="btn btn-icon" href="proveedores_get?id={{item.PROVEEDOR_ID}}" aria-label="Modificar Proveedor">
                            <i class="icon icon-pencil s-4"></i>
                        </a>
                        <a class="btn btn-icon" href="proveedor_delete?id={{item.PROVEEDOR_ID}}">
                            <i class="icon icon-trash s-4"></i>
                        </a>
                    </td>
                </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block js %}
	<script>
		$(document).ready(function(){
			
		});
	</script>
{% endblock js %}