@font-face {
  font-family: 'ferme';
  src:  url('../fonts/ferme.eot?hddi0');
  src:  url('../fonts/ferme.eot?hddi0#iefix') format('embedded-opentype'),
		url('../fonts/ferme.ttf?hddi0') format('truetype'),
		url('../fonts/ferme.woff?hddi0') format('woff'),
		url('../fonts/ferme.svg?hddi0#ferme') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ferme' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-truck:before {
  content: "\f0d1";
}
.icon-office:before {
  content: "\e903";
}
.icon-user:before {
  content: "\e971";
}
.icon-users:before {
  content: "\e972";
}
.icon-user-check:before {
  content: "\e975";
}
.icon-hammer:before {
  content: "\e996";
}




aside{
	background-color: #027D46;
	border-right: 1px solid rgba(255,255,255,.5);
	width: 250px;
	height: 100vh;
	position: fixed;
	left: 0;
	top: 0;
}
aside .logo{
	padding: 2rem 0 0 0;
	margin: 0 auto 2rem auto;
	max-width: 150px;
}
aside .logo img{
	width: 100%;
	height: auto;
	display: block;
}
aside .menu-lateral{
	padding: 0 1rem;
}
aside .menu-lateral .btn-ferme{
	text-align: left;
	margin: 0 0 .3rem 0;
}
nav{
	border-bottom: 1px solid #c2c2c2;
	background-color: #0D683B;
	padding: .5rem 1rem;
	text-align: right;
}
.btn-ferme{
	border: 1px solid #ffffff;
	color: #ffffff;
	position: relative;
	z-index: 5;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-ms-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.btn-ferme:before{
	content: '';
	height: 0;
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: -1;
	background-color: #ffffff;
	-webkit-transition: .2s;
	-moz-transition: .2s;
	-ms-transition: .2s;
	-o-transition: .2s;
	transition: .2s;
}
.btn-ferme:hover,
.btn-ferme.active{
	color: #0D683B;
}
.btn-ferme:hover:before,
.btn-ferme.active:before{
	height: 100%;
}
.contenedor{
	width: calc(100% - 250px);
	margin: 0 0 0 auto;
}
.slider-caja{
	height: 450px;
	position: relative;
	overflow: hidden;
}
.slider-caja .swiper-wrapper .swiper-slide{
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}
