{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% block tituloPagina %}
    <title>ORDENES DE COMPRA | FERME</title>
{% endblock tituloPagina %}
{% block contenido %}
<div class="container-fluid">
    <div class="py-4">
        <h1 class="titulo">Orden de Compra</h1>

        <div class="row">
            <div class="col-5">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Proveedores</span>
                    </div>
                    <input type="text" class="form-control btn-filtro" data-op="proveedor" placeholder="Filtrar por proveedor...">
                </div>
                <div class="tabla-general table-responsive">
                    <table class="table table-hover table-bordered" id="tabla-proveedor">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Proveedor</th>
                                <th scope="col">Código</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in proveedores_list %}
                            <tr class="fila">
                                <td class="text-uppercase text-left">{{ item.RAZON_SOCIAL }}</td>
                                <td class="text-uppercase">{{ item.IDENTIFICADOR }}</td>
                                <td class="acciones">
                                    <a class="btn btn-block btn-small btn-ferme b2" href="productos_get?id={{item.PROVEEDOR_ID}}&proveedor={{item.RAZON_SOCIAL}}">
                                        Nueva Orden
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-7">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text">Tipos</span>
                    </div>
                    <input type="text" class="form-control btn-filtro" data-op="ordenes" placeholder="Filtrar por n° orden...">
                </div>
                <div class="tabla-general table-responsive">
                    <table class="table table-hover table-bordered" id="tabla-ordenes">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">ID</th>
                                <th scope="col">Proveedor</th>
                                <th scope="col">Producto</th>
                                <th scope="col">Valor Total</th>
                                <th scope="col">Estado</th>
                                <th scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in order_list %}
                            <tr class="fila">
                                <td class="text-uppercase">{{ item.ID_ORDEN }}</td>
                                <td class="text-uppercase">{{ item.RAZON_SOCIAL }}</td>
                                <td class="text-uppercase">{{ item.PRODUCTO }}</td>
                                <td class="text-uppercase text-right">${{ item.VALOR|intcomma }}</td>
                                <td>
                                    {% if item.ESTADO == 'Pendiente' %}
                                        <span class="badge badge-pill badge-warning">{{item.ESTADO}}</span>                        
                                    {% endif %}
                                    {% if item.ESTADO == 'Envío Local' %}
                                        <span class="badge badge-pill badge-info">{{item.ESTADO}}</span>                        
                                    {% endif %}
                                    {% if item.ESTADO == 'En Sucursal' %}
                                        <span class="badge badge-pill badge-primary">{{item.ESTADO}}</span>                        
                                    {% endif %}
                                    {% if item.ESTADO == 'Procesada' %}
                                        <span class="badge badge-pill badge-success">{{item.ESTADO}}</span>                        
                                    {% endif %}
                                    {% if item.ESTADO == 'Anulada' %}
                                        <span class="badge badge-pill badge-danger">{{item.ESTADO}}</span>                        
                                    {% endif %}
                                </td>
                                <td class="acciones">
                                    <a class="btn btn-block btn-small btn-ferme b2" href="order_status?id={{item.ID_ORDEN}}">
                                        Ver Detalle
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock contenido %}
{% block js %}
<script>
    $(document).ready(function(){
        $('#aside [data-menu="orders_list"]').addClass('active');
    });

    $('.btn-filtro').keyup(function(){
        var palabra = $(this).val().toUpperCase();
        var tipo = $(this).attr('data-op');

        if($.trim(palabra) != ''){
            if(tipo == "proveedor"){
                $('#tabla-proveedor .fila').addClass('d-none');
                $('#tabla-proveedor .fila td:first-child').each(function(){
                    var texto = $(this).text().toUpperCase();

                    if(texto.search(palabra) != -1){
                        $(this).parent().removeClass('d-none');
                    }
                });
            }else{
                $('#tabla-ordenes .fila').addClass('d-none');
                $('#tabla-ordenes .fila td:first-child').each(function(){
                    var texto = $(this).text().toUpperCase();

                    if(texto.search(palabra) != -1){
                        $(this).parent().removeClass('d-none');
                    }
                });
            }
        }else{
            if(tipo == "proveedor"){
                $('#tabla-proveedor .fila').removeClass('d-none');
            }else{
                $('#tabla-ordenes .fila').removeClass('d-none');
            }
        }
    });
</script>
{% endblock js %}