{% extends 'base/base.html' %}
{% load static %}
{% block tituloPagina %}
	<title>Órden de Compra | FERME</title>
{% endblock tituloPagina %}
{% block contenido %}
<div id="e-commerce-products" class="page-layout carded full-width">
        <div class="top-bg bg-primary"></div>
        <div class="page-content-wrapper">
            <div class="page-header light-fg row no-gutters align-items-center justify-content-between">
                <div class="col-12 col-sm">
                    <div class="logo row no-gutters justify-content-center align-items-start justify-content-sm-start">
                        <div class="logo-icon mr-3 mt-1">
                            <i class="icon-book s-6"></i>
                        </div>
                        <div class="logo-text">
                            <div class="h4">Órden de Compra</div>
                        </div>
                    </div>
                </div>
    <div class="row">
    <div class="col-sm-7">

            <div id="e-commerce-products" class="page-layout carded full-width">
                    <div class="top-bg bg-primary"></div>
                    <div class="page-content-wrapper">
                        <div class="row">
                            <div class="col-sm-10" style="margin: 25px 25px 25px 25px">
                                <div class="card">
                                    <div class="card-body">
                                        <h3>
                                            Nueva Órden de Compra
                                        </h3>
                                        <form method="POST" class="post-form" action ="users_insert">{% csrf_token %}
                                            <div class="form-group row">
                                                <label class="col-md-2 col-form-label">Usuario</label>
                                                <div class="col-sm-4">
                                                    <input type="text" maxlength="80" name="usuario"  class="form-control">
                                                </div>
                                                <label class="col-sm-2 col-form-label">Contraseña</label>
                                                <div class="col-sm-4">
                                                    <input type="text" name="password" class="form-control">
                                                </div>
                                            </div>
                                        </form>
                                    </div>    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

    </div>
{% endblock contenido %}
{% block js %}
	<script>
		$(document).ready(function(){
			
		});
	</script>
{% endblock js %}
