{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}
{% block tituloPagina %}
    <title>PRODUCTOS PROOVEDORES | FERME</title>
{% endblock tituloPagina %}
{% block contenido %}
<div class="container-fluid">
    <div class="py-4">
        <h1 class="titulo">Productos {{proveedor}}</h1>

        <div class="col-6 px-0">
            <div class="input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text">Nombre</span>
                </div>
                <input type="text" class="form-control btn-filtro" placeholder="Filtrar por nombre...">
            </div>
        </div>
        <div class="tabla-general table-responsive">
            <table class="table table-hover table-bordered" id="tabla-productos">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Código</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Precio</th>
                        <th width="120px" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in productos %}
                    <tr class="fila">
                        <td class="text-left text-uppercase">{{ item.PRODUCTO_ID }}
                        <td class="text-uppercase">{{ item.NOMBRE }}</td></td>
                        <td class="text-right">$ {{ item.VALOR|intcomma }}</td>
                        <td class="acciones">
                            <a class="btn btn-block btn-warning" href="orders_create?id={{item.ID_PROD}}&id_prov={{id_prov}}&prov={{proveedor}}&producto={{item.NOMBRE}}&valor={{item.VALOR}}">
                                Crear Orden
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock contenido %}
{% block js %}
<script>
    $(document).ready(function(){
        $('#aside [data-menu="orders_list"]').addClass('active');
    });

    $('.btn-filtro').keyup(function(){
        var palabra = $(this).val().toUpperCase();

        if($.trim(palabra) != ''){
            $('#tabla-productos .fila').addClass('d-none');
            $('#tabla-productos .fila td:nth-child(2)').each(function(){
                var texto = $(this).text().toUpperCase();

                if(texto.search(palabra) != -1){
                    $(this).parent().removeClass('d-none');
                }
            });
        }else{
            $('#tabla-productos .fila').removeClass('d-none');
        }
    });
</script>
{% endblock js %}